[submodule "libs/httplib"]
	path = libs/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/process"]
	path = libs/process
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
